<% title "À Propos" %>

<%= render "layouts/shared/header" %>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>À Propos de Nous</h1>
    <ol class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li class="active">À Propos</li>
    </ol>
  </div>
</div><!-- breadcrumb-section -->

<div class="about-us-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-section-content">
          <h2>Groupe Oberlin</h2>
          <p>
            Partenaire pour de multiples types de missions, le Groupe OBERLIN s'est doté des outils
            les plus modernes et des ressources humaines compétentes.
            En plus de notre travail de qualité supérieure, nos clients
            tirent profit d'un point d'accès unique qui élimine le besoin d'avoir recours à des prestataires multiples.
            Selon les besoins des clients, nous sommes en mesure de proposer des solutions pertinentes qui
            répondent à leurs exigences et qui respectent leur budget.
          </p>

          <h2>Historique</h2>
          <p>
            Né de la volonté d’entreprendre de ses fondateurs, le Groupe OBERLIN est fondé en 2011.
            Il est l’aboutissement de nombreux efforts d’entreprendre fait de réussites et de moins-biens.
            L’activité a débuté par la mise en relation d’affaires de partenaires et, petit à petit l’entreprise
            s’est bâtie é partir du recrutement de ressources humaines du niveau de ses ambitions.
          </p>

          <h2>Vision</h2>
          <p>
            Le Groupe OBERLIN se veut être un portail d’accès à des services diversifiés et tous orientes
            vers la création de valeur ajoutée. A la base il est un mouvement ayant pour but d’octroyer des
            opportunités d’expression de talents et de compétences à la jeunesse de l’Afrique et du monde.
            Sa philosophie socle est de construire l’individu pour construire une nation.
          </p>

          <h2>Objectifs</h2>
          <p>
            Construire un Groupe entrepreneurial fort et diversifié au service des personnes,
            des entreprises et des états. Donner un cadre d’expression au talent des jeunes et
            participer activement à la construction de notre Afrique restent pour nous des préoccupations fortes.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-us-image">
          <%= image_tag("about/about.jpg",  alt: "", class: "img-responsive") %>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- features section -->

<!--<div class="work-process image-bg section-padding">
  <div class="overlay"></div>
  <div class="container">
    <div class="section-title text-center">
      <h1>Why Choose Us</h1>
      <h2>Our Promise and Values</h2>
    </div>
    <div class="process-section">

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="work-proces left-content text-right">
            <div class="process-icon">
              <%= image_tag("process/proces1.png",  alt: "image", class: "img-responsive") %>
            </div>
            <div class="process-info">
              <h4>Work Strategy</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
            </div>
          </div>
          <div class="work-proces left-content text-right">
            <div class="process-icon">
              <%= image_tag("process/proces2.png",  alt: "image", class: "img-responsive") %>
            </div>
            <div class="process-info">
              <h4>Best Quality</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">

          <div class="work-proces">
            <div class="process-icon">
              <%= image_tag("process/proces3.png",  alt: "image", class: "img-responsive") %>
            </div>
            <div class="process-info">
              <h4>Specialist Engineers</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
            </div>
          </div>
          <div class="work-proces">
            <div class="process-icon">
              <%= image_tag("process/proces4.png",  alt: "image", class: "img-responsive") %>
            </div>
            <div class="process-info">
              <h4>Skilled Workers</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
            </div>
          </div>
        </div>
      </div>
    </div>&lt;!&ndash; row &ndash;&gt;
  </div>&lt;!&ndash; container &ndash;&gt;
</div>&lt;!&ndash; process &ndash;&gt;-->

<!--<div class="team-section section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h1>OUR Team</h1>
      <h2>We have Experienced Members</h2>
    </div>

    <div class="team-members">
      <div class="row">
        <div class="col-sm-3">
          <div class="team-member">
            <div class="member-image">
              <%= image_tag("team/4.jpg",  alt: "image", class: "img-responsive") %>
            </div>
            <div class="team-info">
              <div class="member-info">
                <h4>Jhon Doe</h4>
                <p>Construction Manager</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt</p>
              <ul class="team-social list-inline">
                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <div class="member-image">
              <%= image_tag("team/3.jpg",  alt: "image", class: "img-responsive") %>
            </div>
            <div class="team-info">
              <div class="member-info">
                <h4>Abir Ahnan</h4>
                <p>Chief Engineer</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt.</p>
              <ul class="team-social list-inline">
                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <div class="member-image">
              <%= image_tag("team/1.jpg",  alt: "image", class: "img-responsive") %>
            </div>
            <div class="team-info">
              <div class="member-info">
                <h4>Mark Leon</h4>
                <p>Cheaf Colnsultant</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt.</p>
              <ul class="team-social list-inline">
                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <div class="member-image">
              <%= image_tag("team/2.jpg",  alt: "image", class: "img-responsive") %>
            </div>
            <div class="team-info">
              <div class="member-info">
                <h4>Steve Clark</h4>
                <p>Project Manager</p>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod fore to tempor incididunt.</p>
              <ul class="team-social list-inline">
                <li><a href="about.html#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="about.html#"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>&lt;!&ndash; container &ndash;&gt;
</div>&lt;!&ndash; team section &ndash;&gt;

<div class="testimonial-section image-bg section-padding">
  <div class="overlay"></div>
  <div class="container">
    <div class="testimonial-slider">

      <div class="row testimonial text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="testimonial-image">
            <%= image_tag("testimonial/1.jpg",  alt: "image", class: "img-responsive") %>
          </div>
          <div class="testimonial-info ">
            <p>Lorem Ipsum is simply dummy text of the printing and pesetting to industry. Lorem Ipsum has been the industry's standard dummy tet ever since they 1500s, </p>
            <h5>Jhon Doe | CEO, Eric Consultancy</h5>
          </div>
        </div>

      </div>
      <div class="row testimonial text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="testimonial-image">
            <%= image_tag("testimonial/2.jpg",  alt: "image", class: "img-responsive") %>
          </div>
          <div class="testimonial-info">
            <p>Lorem Ipsum is simply dummy text of the printing and pesetting to industry. Lorem Ipsum has been the industry's standard dummy tet ever since they 1500s, </p>
            <h5>Mark Semouel | Vice Pricedent, KRBP</h5>
          </div>
        </div>

      </div>

      <div class="row testimonial text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="testimonial-image">
            <%= image_tag("testimonial/3.jpg",  alt: "image", class: "img-responsive") %>
          </div>
          <div class="testimonial-info">
            <p>Lorem Ipsum is simply dummy text of the printing and pesetting to industry. Lorem Ipsum has been the industry's standard dummy tet ever since they 1500s, </p>
            <h5>Hall Melan | Developer, Artsell</h5>
          </div>
        </div>

      </div>

    </div>
  </div>&lt;!&ndash; container &ndash;&gt;
</div>&lt;!&ndash; testimonial section &ndash;&gt;-->

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>