<% title "Bienvenue" %>

<%= render "layouts/shared/header" %>

<div class="home-section image-bg">
  <div class="overlay"></div>
  <div class="home-content">
    <div class="container">
      <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <h2>Construisez votre rêve avec <span>Oberlin</span></h2>
            <a href="/contact" class="btn btn-primary">Contactez-Nous Maintenant</a>
          </div>
          <div class="item">
            <h2>Vous recherchez des batisseurs de <span>qualité</span> ?</h2>
            <a href="/contact" class="btn btn-primary">Contactez-Nous Maintenant</a>
          </div>
          <div class="item">
            <h2>Des projets avec un <br><span>avenir sûr</span></h2>
            <a href="/contact" class="btn btn-primary">Contactez-Nous Maintenant</a>
          </div>
        </div>
        <a class="carousel-left" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="carousel-right" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
      </div>
    </div><!-- container -->
  </div><!-- home content -->

</div><!-- home -->

<div class="service-section section-padding">
  <div class="container">
    <div class="service-content">
      <div class="services">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="service crane-lifting image-bg image-service-1">
              <div class="overlay"></div>
              <a href="/oberlin-agro">
                <div class="image-box">
                  <%= image_tag("img-services-1.jpg",  alt: "Image", class: "img-responsive") %>
                </div>
                <div class="box-title">
                  <h3>Oberlin <br>Agro</h3>
                  <p>Votre partenaire en Agriculture, élevage, pisciculture, Apiculture.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service home-plumbing image-bg">
              <div class="overlay"></div>
              <a href="/oberlin-arts">
                <div class="image-box">
                  <%= image_tag("img-services-2.jpg",  alt: "Image", class: "img-responsive") %>
                </div>
                <div class="box-title">
                  <h3>Oberlin <br>Arts</h3>
                  <p>Agence de production <br>et de promotion <br> artistique.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service home-plumbing image-bg">
              <div class="overlay"></div>
              <a href="/oberlin-construction">
                <div class="image-box">
                  <%= image_tag("img-services-3.jpg",  alt: "Image", class: "img-responsive") %>
                </div>
                <div class="box-title">
                  <h3>Oberlin <br>Construction</h3>
                  <p>Partenaire <br>pour vos projets <br>de construction.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service house-plans image-bg">
              <div class="overlay"></div>
              <a href="/oberlin-immo">
                <div class="image-box">
                  <%= image_tag("img-services-4.jpg",  alt: "Image", class: "img-responsive") %>
                </div>
                <div class="box-title">
                  <h3>Oberlin <br>Immo</h3>
                  <p>Location, <br>vente, achat et <br>gestion immobilière.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service house-plans image-bg">
              <div class="overlay"></div>
              <a href="/oberlin-ingenierie" >
                <div class="image-box">
                  <%= image_tag("img-services-5.jpg",  alt: "Image", class: "img-responsive") %>
                </div>
                <div class="box-title">
                  <h3>Oberlin <br>Ingenierie</h3>
                  <p>Spécialisé dans le calcul, la conception, l’optimisation et les études d’exécution</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service home-plumbing image-bg">
              <div class="overlay"></div>
              <a href="/oberlin-it">
                <div class="image-box">
                  <%= image_tag("img-services-6.jpg",  alt: "Image", class: "img-responsive") %>
                </div>
                <div class="box-title">
                  <h3>Oberlin <br>IT</h3>
                  <p>Solutions <br> informatiques <br>et TIC.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service house-plans image-bg">
              <div class="overlay"></div>
              <a href="/oberlin-services">
                <div class="image-box">
                  <%= image_tag("img-services-7.jpg",  alt: "Image", class: "img-responsive") %>
                </div>
                <div class="box-title">
                  <h3>Oberlin <br>Services</h3>
                  <p>Un ensemble de compétences.</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service house-plans image-bg">
              <div class="overlay"></div>
              <a href="/oberlin-tourisme">
                <div class="image-box">
                  <%= image_tag("tourism/tourism.png",  alt: "Image", class: "img-responsive") %>
                </div>
                <div class="box-title">
                  <h3>Oberlin <br>Tourisme</h3>
                  <p>...</p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="service home-plumbing image-bg">
              <div class="overlay"></div>
              <a href="/oberlin-transit">
                <div class="image-box">
                  <%= image_tag("img-services-9.jpg",  alt: "Image", class: "img-responsive") %>
                </div>
                <div class="box-title">
                  <h3>Oberlin <br>Transit</h3>
                  <p>Votre Assistant <br> import-export</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div><!-- services -->
    </div>
  </div><!-- container -->
</div><!-- service section -->

<div class="testimonial-section image-bg section-padding">
  <div class="overlay"></div>
  <div class="container">
    <div class="testimonial-slider">

      <div class="row testimonial text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="testimonial-image">
            <%= image_tag("testimonial/1.jpg",  alt: "image", class: "img-responsive") %>
          </div>
          <div class="testimonial-info ">
            <p>Lorem Ipsum is simply dummy text of the printing and pesetting to industry. Lorem Ipsum has been the industry's standard dummy tet ever since they 1500s, </p>
            <h5>Jhon Doe | CEO, Eric Consultancy</h5>
          </div>
        </div>

      </div>
      <div class="row testimonial text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="testimonial-image">
            <%= image_tag("testimonial/2.jpg",  alt: "image", class: "img-responsive") %>
          </div>
          <div class="testimonial-info">
            <p>Lorem Ipsum is simply dummy text of the printing and pesetting to industry. Lorem Ipsum has been the industry's standard dummy tet ever since they 1500s, </p>
            <h5>Mark Semouel | Vice Pricedent, KRBP</h5>
          </div>
        </div>

      </div>

      <div class="row testimonial text-center">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="testimonial-image">
            <%= image_tag("testimonial/3.jpg",  alt: "image", class: "img-responsive") %>
          </div>
          <div class="testimonial-info">
            <p>Lorem Ipsum is simply dummy text of the printing and pesetting to industry. Lorem Ipsum has been the industry's standard dummy tet ever since they 1500s, </p>
            <h5>Hall Melan | Developer, Artsell</h5>
          </div>
        </div>

      </div>

    </div>
  </div><!-- container -->
</div><!-- testimonial section -->

<div class="blog-section section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h1>News</h1>
      <h2>Restez Informé à Propos de Nous</h2>
    </div>
    <div class="blog-content">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/1.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>07 <span>Aug</span></h2>
                </div>
              </div> <!-- blog-image -->
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">L'heure de la Récolte</a></h4>
              </div>
              <div class="post-content">
                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>
                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Jhon Doe</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>Chantier</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>7 Comments</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </div><!-- entry-post -->
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/2.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>05 <span>Aug</span></h2>
                </div>
              </div> <!-- blog-image -->
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">Étude Soigné des Plans</a></h4>
              </div>
              <div class="post-content">
                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>

                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Captain Sad</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>Construction</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>3 Comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div><!-- entry-post -->
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/3.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>02 <span>Aug</span></h2>
                </div>
              </div> <!-- blog-image -->
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">L'importance du Terrassement</a></h4>
              </div>
              <div class="post-content">

                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>
                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Jr. Macllum</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>BTP</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>0 Comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div><!-- entry-post -->
          </div>
        </div>
      </div><!-- row -->
    </div><!-- blog content -->
  </div><!-- container -->
</div><!-- blog section -->

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>

