<% title "Nos News" %>

<%= render "layouts/shared/header" %>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Nos News</h1>
    <ol class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li class="active">News</li>
    </ol>
  </div>
</div><!-- breadcrumb-section -->

<!--<div class="blog-section section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h1>Blog & News</h1>
      <h2>Keep Updated about US</h2>
    </div>
    <div class="blog-content">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/1.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>07 <span>Aug</span></h2>
                </div>
              </div> &lt;!&ndash; blog-image &ndash;&gt;
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">L'heure de la Récolte</a></h4>
              </div>
              <div class="post-content">
                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>
                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Jhon Doe</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>Chantier</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>7 Comments</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>&lt;!&ndash; entry-post &ndash;&gt;
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/2.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>05 <span>Aug</span></h2>
                </div>
              </div> &lt;!&ndash; blog-image &ndash;&gt;
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">Étude Soigné des Plans</a></h4>
              </div>
              <div class="post-content">
                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>

                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Captain Sad</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>Construction</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>3 Comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>&lt;!&ndash; entry-post &ndash;&gt;
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/3.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>02 <span>Aug</span></h2>
                </div>
              </div> &lt;!&ndash; blog-image &ndash;&gt;
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">L'importance du Terrassement</a></h4>
              </div>
              <div class="post-content">

                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>
                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Jr. Macllum</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>BTP</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>0 Comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>&lt;!&ndash; entry-post &ndash;&gt;
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/4.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>02 <span>Aug</span></h2>
                </div>
              </div> &lt;!&ndash; blog-image &ndash;&gt;
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">L'importance du Terrassement</a></h4>
              </div>
              <div class="post-content">

                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>
                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Jr. Macllum</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>BTP</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>0 Comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>&lt;!&ndash; entry-post &ndash;&gt;
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/5.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>02 <span>Aug</span></h2>
                </div>
              </div> &lt;!&ndash; blog-image &ndash;&gt;
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">L'importance du Terrassement</a></h4>
              </div>
              <div class="post-content">

                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>
                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Jr. Macllum</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>BTP</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>0 Comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>&lt;!&ndash; entry-post &ndash;&gt;
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/6.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>02 <span>Aug</span></h2>
                </div>
              </div> &lt;!&ndash; blog-image &ndash;&gt;
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">L'importance du Terrassement</a></h4>
              </div>
              <div class="post-content">

                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>
                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Jr. Macllum</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>BTP</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>0 Comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>&lt;!&ndash; entry-post &ndash;&gt;
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/3.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>02 <span>Aug</span></h2>
                </div>
              </div> &lt;!&ndash; blog-image &ndash;&gt;
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">L'importance du Terrassement</a></h4>
              </div>
              <div class="post-content">

                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>
                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Jr. Macllum</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>BTP</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>0 Comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>&lt;!&ndash; entry-post &ndash;&gt;
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/1.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>02 <span>Aug</span></h2>
                </div>
              </div> &lt;!&ndash; blog-image &ndash;&gt;
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">L'importance du Terrassement</a></h4>
              </div>
              <div class="post-content">

                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>
                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Jr. Macllum</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>BTP</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>0 Comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>&lt;!&ndash; entry-post &ndash;&gt;
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="blog-post">
            <div class="entry-header">
              <div class="blog-image">
                <div class="entry-thumbnail">
                  <%= link_to "/news-details" do %>
                      <%= image_tag(('blog/5.jpg'), :class => "img-responsive", :alt => "Blog Image") %>
                  <% end %>
                </div>
                <div class="time">
                  <h2>02 <span>Aug</span></h2>
                </div>
              </div> &lt;!&ndash; blog-image &ndash;&gt;
            </div>
            <div class="entry-post">
              <div class="entry-title">
                <h4><a href="blog-details.html">L'importance du Terrassement</a></h4>
              </div>
              <div class="post-content">

                <div class="entry-summary">
                  <p>Sed ut perspiciatis unde omnis iste natus error sit too on volupt usantium to  doloremque laudantium, for I totam rem aperiam to the end. Sed ut of perspi unde omnis iste natus error sit too on voluptatem.</p>
                  <div class="entry-meta">
                    <ul class="list-inline">
                      <li><a href="#"><i class="fa fa-user"></i>Jr. Macllum</a></li>
                      <li><a href="#"><i class="fa fa-folder-o"></i>BTP</a></li>
                      <li><a href="#"><i class="fa fa-comment-o"></i>0 Comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>&lt;!&ndash; entry-post &ndash;&gt;
          </div>
        </div>

      </div>&lt;!&ndash; row &ndash;&gt;
    </div>&lt;!&ndash; blog content &ndash;&gt;
    <div class="pagination-section text-center">
      <ul class="pagination">
        <li>
          <a href="blog.html#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="active"><a href="blog.html#">1</a></li>
        <li><a href="blog.html#">2</a></li>
        <li><a href="blog.html#">3</a></li>
        <li><a href="blog.html#">4</a></li>
        <li><a href="blog.html#">5</a></li>
        <li>
          <a href="blog.html#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>&lt;!&ndash; pagination-section &ndash;&gt;

  </div>&lt;!&ndash; container &ndash;&gt;
</div>&lt;!&ndash; blog section &ndash;&gt;-->

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>