<% title @article.article_title %>

<%= render "layouts/shared/header" %>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1><%=@article.article_title%></h1>
    <ol class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li><a href="/news">News</a></li>
      <li class="active"><%=truncate(@article.article_title, length: 20)%></li>
    </ol>
  </div>
</div><!-- breadcrumb-section -->

<div class="blog-details">
  <div class="container">
    <div class="blog-content">
      <div class="blog-image">
        <div class="entry-thumbnail">
          <%= image_tag(@article.image,  alt: "#{@article.article_title}", class: "img-responsive") %>
        </div>
        <div class="time">
          <h2><%=@article.created_at.strftime("%d") %> <span><%=@article.created_at.strftime("%B") %></span></h2>
        </div>
      </div> <!-- blog-image -->
      <div class="entry-title">
        <h3><%=@article.article_title %></h3>
      </div>
      <div class="entry-meta">
        <ul class="list-inline">
          <li><a><i class="fa fa-user"></i><%=@article.post_by.capitalize%></a></li>
          <li><a><i class="fa fa-folder-o"></i><%=@article.category%></a></li>
          <li><a href="#" class="comment"><i class="fa fa-comment-o"></i><%=pluralize(@comments.count, 'Comment')%></a></li>
        </ul>
      </div>
      <div class="post-content">
        <p>
          <%=@article.article_description %>
        </p>
      </div>
      <div class="share-social">
        <ul class="social">
          <li>Share:</li>
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
          <li><a href="#"><i class="fa fa-flickr"></i></a></li>
          <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
        </ul>
      </div><!-- share social -->

     

      <div class="comments-area" id="comment">
        <h4><%=pluralize(@comments.count, 'Comment')%> </h4>
        <% @comments.each do |comment|%>
          <div class="post-comment">
          <div class="post-nfo">
            <div class="author-image">
              <%= image_tag(gravatar_url(comment.email, 100),  alt: "Image", class: "img-responsive") %>
            </div>
            <div class="commenter-info">
              <h5><%=comment.commenter_name %></h5>
              <p class="date">
                Posted on <%=comment.created_at.strftime("%B %d, %Y") %>
              </p>

              <p>
                <%=comment.comment_message%>
              </p>
             
            </div>
          </div>
        </div><!-- post-comment -->
        <%end%>
        

        

      <div class="replay-box">
        <h4>Leave A Comment</h4>
        <%=form_for(@comment, url: news_details_url(@article.id), html: {id: 'contact-form', class: 'contact-form', method: :post}) do |f| %>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <i class="fa fa-user" aria-hidden="true"></i>
                
                <%=f.text_field :commenter_name, class: 'form-control', required: 'required', placeholder: "Your Name" %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
               
                <%=f.email_field :email, class: 'form-control', required: 'required', placeholder: "E-mail Address" %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <i class="fa fa-phone" aria-hidden="true"></i>
               
                <%=f.text_field :web_address, class: 'form-control', required: 'required', placeholder: "Web Address" %>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <i class="fa fa-comments" aria-hidden="true"></i>
                
                <%= f.text_area :comment_message, required: 'required', id: 'message', class: 'form-control', row: 7, placeholder: 'Your Comment' %>
              </div>
            </div>
          </div>
          <div class="submit-button">
            <%=f.submit 'Submit Your Comment', class: 'btn btn-primary' %>
          </div>
        <%end%>
        
      </div>
    </div>
  </div><!-- container -->
</div><!-- blog post -->

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>
<script>
  $(".comment").click(function(e) {
    e.preventDefault();
    $('html, body').animate({
        scrollTop: $("#comment").offset().top
    }, 2000);
});
</script>