<% title "Agro" %>

<%= render "layouts/shared/header" %>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Oberlin Agro</h1>
    <ol class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li class="active">Oberlin Agro</li>
    </ol>
  </div>
</div><!-- breadcrumb-section -->

<div class="details-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("agro/1469208335276.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("agro/4352639_3_3f94_ingenieur-en-agronomie_61ef6ca14aef2b5cdd0f2503ee24b6ee.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("agro/fillettetomate.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="details-info">
          <h2>Votre partenaire en Agriculture, élevage, pisciculture, Apiculture</h2>
          <p>
            Vous êtes un agriculteur ou un futur agriculteur ? <br>
            Vous avez un projet d'installation ou d’extension en agriculture ?
          </p>
          <div class="details-list">
            <ul>
              <li>
                <p>Votre partenaire technique et financier, vous accompagne tout au long de votre démarche :
                  <span>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Etudes et conception de projets agricoles <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Financement des installations et des activités <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Mise à disposition des compétences requises
                  </span>
                </p>
              </li>
              <li>
                <p>
                  Etape par étape, nous allons étudier avec vous les termes
                  de notre collaboration avec au bout la préoccupation de réaliser de votre projet.
                </p>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- details section -->

<div class="recent-projects section-padding">
  <div class="container">
    <div class="row" >
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('agro/4352639_3_3f94_ingenieur-en-agronomie_61ef6ca14aef2b5cdd0f2503ee24b6ee.jpg'), :class => 'image-link' do %>
                <%= image_tag(('agro/4352639_3_3f94_ingenieur-en-agronomie_61ef6ca14aef2b5cdd0f2503ee24b6ee.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>

        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('agro/fillettetomate.jpg'), :class => 'image-link' do %>
                <%= image_tag(('agro/fillettetomate.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="project-content">

          <div class="project-item">
            <%= link_to image_path('agro/Photo-dans-Poulets-et-Dindes-de-grain-1.jpg'), :class => 'image-link' do %>
                <%= image_tag(('agro/Photo-dans-Poulets-et-Dindes-de-grain-1.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">

          <div class="project-item">
            <%= link_to image_path('agro/elevage_de_poissons.jpg'), :class => 'image-link' do %>
                <%= image_tag(('agro/elevage_de_poissons.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">

          <div class="project-item">
            <%= link_to image_path('agro/5758970864_0035118184_o.jpg'), :class => 'image-link' do %>
                <%= image_tag(('agro/5758970864_0035118184_o.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">

          <div class="project-item">
            <%= link_to image_path('agro/racine-de-manioc-page-afrique-centrale.jpg'), :class => 'image-link' do %>
                <%= image_tag(('agro/racine-de-manioc-page-afrique-centrale.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- recent projects -->

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>