<% title "Arts" %>

<%= render "layouts/shared/header" %>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Oberlin Arts</h1>
    <ol class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li class="active">Oberlin Arts</li>
    </ol>
  </div>
</div><!-- breadcrumb-section -->

<div class="details-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("arts/5.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("arts/2.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("arts/3.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="details-info">
          <h2>Agence de production et de promotion artistique</h2>
          <p>
            Vous avez des projets artistiques ? <br>
            Vous avez des talents artistiques ?
          </p>
          <div class="details-list">
            <ul>
              <li>
                <p>Nous vous accompagnerons dans la conception, la formulation, l’édition et
                  l’expression de vos talents. Nos équipes de jeunes expérimentés et talentueux seront
                  un atout pour structurer votre démarche et la couronner de succès. Le relationnel que
                  nous avons développé dans les milieux locaux et de la diaspora avec des acteurs clés du
                  domaine artistique fera son effet de levier.
                  <br>
                  <hr>
                  <span>
                    Musique et danse <br>
                    Sculpture, poterie et tissage <br>
                    Peinture et autres graphismes <br>
                    Cinéma
                  </span>
                  <hr>
                </p>
              </li>
              <li>
                <p>
                  Avec nous votre talent sera taillé, poli et exposé à un large public. Venez tel que vous êtes.
                </p>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- details section -->

<div class="recent-projects section-padding">
  <div class="container">
    <div class="row" >
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('arts/1.jpg'), :class => 'image-link' do %>
                <%= image_tag(('arts/1.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('arts/4.jpg'), :class => 'image-link' do %>
                <%= image_tag(('arts/4.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('arts/6.jpg'), :class => 'image-link' do %>
                <%= image_tag(('arts/6.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- recent projects -->

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>