<% title "Immo" %>

<%= render "layouts/shared/header" %>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Oberlin Immo</h1>
    <ol class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li class="active">Oberlin Immo</li>
    </ol>
  </div>
</div><!-- breadcrumb-section -->

<div class="details-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("immo/1.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("immo/3.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("immo/2.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("immo/2.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("immo/1.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("immo/3.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="details-info">
          <h2>Votre agence immobiliere</h2>
          <p>
            Tous les services de l’immobilier chez nous.
          </p>
          <div class="details-list">
            <ul>
              <li>
                <p>Location, vente, achat, gestion immobilière de :
                  <span>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Terrains <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Résidences <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Appartements <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Studios <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Chambres
                  </span>
                </p>
              </li>
              <li>
                <p>
                  Nous finançons également :
                  <span>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Les opérations d’octroi de titre de propriété <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Le lotissement de terrains
                  </span>
                </p>
              </li>
            </ul>
          </div>
          <p>
            De nombreux propriétaires de parcs immobiliers nous confient leurs biens que nous mettons à votre disposition.
            Nous nous assurons que vos exigences et vos budgets soient respectés, au regard des disponibilités sur le marché.
          </p>
          <p>
            Nous disposons également d’un large réseau de contacts dans les différentes localités que nous couvrons.
            Tout est fait pour que vous trouviez le bien immobilier qui vous correspond.
          </p>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- details section -->

<div class="recent-projects section-padding">
  <div class="container">
    <div class="row" >
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('immo/1.jpg'), :class => 'image-link' do %>
                <%= image_tag(('immo/1.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('immo/2.jpg'), :class => 'image-link' do %>
                <%= image_tag(('immo/2.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('immo/3.jpg'), :class => 'image-link' do %>
                <%= image_tag(('immo/3.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- recent projects -->

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>