<% title "Ingénierie" %>

<%= render "layouts/shared/header" %>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Oberlin Ingénierie</h1>
    <ol class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li class="active">Oberlin Ingénierie</li>
    </ol>
  </div>
</div><!-- breadcrumb-section -->

<div class="details-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("ing/1.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("ing/3.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("ing/2.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("ing/2.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("ing/1.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("ing/3.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("ing/3.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("ing/2.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("ing/1.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="details-info">
          <h2>Votre bureau d’étude de structure</h2>
          <p>
            OBERLIN INGENIERIE est un Bureau d’Etudes spécialisé dans le calcul, la conception,
            l’optimisation et les études d’exécution de toute structure pour le bâtiment et le génie civil.
          </p>
          <p>
            Nous œuvrons dans le domaine de l’étude, du diagnostic structurel et de l’expertise en tant que Maitre d’œuvre,
            Maitre d’ouvrage et partenaire d’entreprises de construction. Le marché de la construction et celui de
            la restructuration de bâtiments existants se développent et il nous a semblé important d’offrir à
            nos clients un soutien technique spécifique à ce domaine d’activité. Nous saurons apporter toute
            l’expertise nécessaire autant pour ce qui concerne les aspects réglementaires et juridiques que
            ceux relevant de la modélisation des bâtiments étudiés.
          </p>
          <p>
            Fort d’une équipe de concepteurs et d’ingénieurs de haut niveau rompu au métier de l’Ingénierie des
            Structures et le calcul béton armé, OBERLIN INGENIERIE est le partenaire pour vous accompagner de
            la conception à la réalisation de votre projet et ce notamment grâce à de fortes ressources
            informatiques et d’un personnel qualifié et motivé.
          </p>
          <div class="details-list">
            <ul>
              <li>
                <p>Notre prestation comprend :
                  <span>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> L’assistance aux concepteurs <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Les études d’exécution (2D, 3D) <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Les études de synthèse (2D, 3D) <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> La Maîtrise d’œuvre technique <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> La Maîtrise d’œuvre d’exécution <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> La recherche économique optimale <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> La réalisation des dossiers d'appels d'offres <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Les calculs statiques et dynamiques <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> La réalisation de l’ensemble des plans d’exécution des ouvrages <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> L'assistance en phase chantier <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Plans d'équipements (inventaires, achats, implantations)
                  </span>
                </p>
              </li>
              <li>
                <p>
                  Grâce à une équipe de plusieurs dizaines de collaborateurs, dont des ingénieurs,
                  des architectes et des infographes nous pouvons traiter des chantiers de grande ampleur et de haute technicité.
                </p>
                <p>
                  <a href="/contact">Confiez-nous vos travaux</a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- details section -->

<div class="recent-projects section-padding">
  <div class="container">
    <div class="row" >
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('ing/1.jpg'), :class => 'image-link' do %>
                <%= image_tag(('ing/1.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('ing/2.jpg'), :class => 'image-link' do %>
                <%= image_tag(('ing/2.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('ing/3.jpg'), :class => 'image-link' do %>
                <%= image_tag(('ing/3.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- recent projects -->

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>