<% title "IT" %>

<%= render "layouts/shared/header" %>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Oberlin IT</h1>
    <ol class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li class="active">Oberlin IT</li>
    </ol>
  </div>
</div><!-- breadcrumb-section -->

<div class="details-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("it/1.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("it/2.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("it/2.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("it/1.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="details-info">
          <h2>Solutions informatiques et TIC</h2>
          <p>
            OBERLIN IT est une entreprise de conseils pour les entreprises, l’Etat et les particuliers,
            et spécialisée en informatique. Nous sommes également spécialisés dans la fourniture de services
            et de matériel informatiques et TIC. Des solutions innovantes et adaptées aux besoins spécifiques
            des clients sont minutieusement étudiées et élaborées. Nous vous fournirons des outils et systèmes
            à la hauteur des défis que vous devez relever au quotidien.
          </p>
          <div class="details-list">
            <ul>
              <li>
                <p>Nos gammes de solutions conviennent parfaitement aux professionnels des domaines suivants :
                  <span>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Métier du commerce et négoce <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Métiers de la construction <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Métiers de la sante <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Métiers d’administration et de la finance <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Métiers de la logistique
                  </span>
                  Une grande plate-forme d’ingénieurs est à l’écoute de vos moindres exigences.
                </p>
              </li>
              <li>
                <p>
                  <a href="/contact">Confiez-nous vos préoccupations et vos commandes</a>
                </p>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- details section -->

<div class="recent-projects section-padding">
  <div class="container">
    <div class="row" >
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('it/1.jpg'), :class => 'image-link' do %>
                <%= image_tag(('it/1.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('it/2.jpg'), :class => 'image-link' do %>
                <%= image_tag(('it/2.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- recent projects -->

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>