<% title "Services" %>

<%= render "layouts/shared/header" %>

<div class="breadcrumb-section image-bg ">
  <div class="overlay"></div>
  <div class="breadcrumb-content container">
    <h1>Oberlin Services</h1>
    <ol class="breadcrumb">
      <li><a href="/">Accueil</a></li>
      <li class="active">Oberlin Services</li>
    </ol>
  </div>
</div><!-- breadcrumb-section -->

<div class="details-section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("service/1.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("service/2.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
        <div id="product-carousel">
          <div class="carousel-image">
            <%= image_tag("service/2.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
          <div class="carousel-image">
            <%= image_tag("service/1.jpg",  alt: "Image", class: "img-responsive") %>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="details-info">
          <h2>Un ensemble de compétences</h2>
          <p>
            Oberlin Services, c’est une entreprise proche de ses clients, partenaire pour tous types de missions.
            La société met au service de ses clients un large panel de services et de compétences dotés des outils
            les plus modernes et tournée vers l’innovation. La satisfaction des besoins des entreprises et des
            administrations publiques dans un esprit d’amélioration constante sont nos maitres mots. La qualité
            relevée de nos services est soutenue par des compétences pointues, une organisation et une logistique
            remarquablement bien huilées.
          </p>
          <div class="details-list">
            <ul>
              <li>
                <p>Dans le cadre de marchés publics ou d’appels d’offre lancés par des entreprises, nous vous fournirons du matériel
                   de haute qualité tel que :
                  <span>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Matériel de bureau <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Mobilier de bureau <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Fournitures et consommables <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Accessoires de bureau <br>
                    <i class="fa fa-arrow-right" style="margin-right: 20px;"> </i> Accessoires de décoration intérieure
                  </span>
                </p>
              </li>
            </ul>
          </div>
          <p>
            Les professionnels exigeants ont recours à nous parce qu’ils nous savent conscients de leur besoin de performance.
            Vous aussi vous serez écoutés avec la même attention et toutes vos demandes de matériel, de fournitures et
            de personnel seront traitées avec le même soin.
          </p>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- details section -->

<div class="recent-projects section-padding">
  <div class="container">
    <div class="row" >
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('service/1.jpg'), :class => 'image-link' do %>
                <%= image_tag(('service/1.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="project-content">
          <div class="project-item">
            <%= link_to image_path('service/2.jpg'), :class => 'image-link' do %>
                <%= image_tag(('service/2.jpg'), :class => 'img-responsive', :alt => '') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- recent projects -->

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>