<%=provide(:title, 'Messages') %>
<%= render "admin/users/shared/admin_header_links" %>
<div class="section-title text-center">
      <div class="container">
        <h1>Messages</h1>
        <h2></h2>
      </div>
    </div>

<table>
	<tr>
		<th>Message</th>
	</tr>
	<%@messages.each do |message| %>
		<tr>
			<td>
				<%= message.message%>
			</td>
		</tr>
	<%end%>
</table>

<%= render "layouts/shared/link-contact" %>
<%= render "layouts/shared/footer" %>